@model RZA.Models.Reviews

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
